body {
  background: rgba(128, 128, 128, 0.1);
  text-align: center;
}

.page-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

button {
  font-size: 1rem;
  padding: 15px;
  border-radius: 5px;
}

.game-board {
  width: 500px;
  height: 500px;
  margin: 0 auto;
}

.line {
  width: 500px;
  height: 50px;
}

.square {
  width: 50px;
  height: 50px;
  border: 1px solid black;
  float: left;
  background-color: grey;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.red {
  color: red;
}

.cleared {
  background-color: rgba(0, 0, 255, 0.3);
}

.grey {
  color: rgba(128, 128, 128, 0.4);
}

.alert {
  display: none;
}

.messages {
  width: 100%;
  min-height: 5vh;
}
