    html,
    body,
    div,
    span,
    applet,
    object,
    iframe,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p,
    blockquote,
    pre,
    a,
    abbr,
    acronym,
    address,
    big,
    cite,
    code,
    del,
    dfn,
    em,
    img,
    ins,
    kbd,
    q,
    s,
    samp,
    small,
    strike,
    strong,
    sub,
    sup,
    tt,
    var,
    b,
    u,
    i,
    center,
    dl,
    dt,
    dd,
    ol,
    ul,
    li,
    fieldset,
    form,
    label,
    legend,
    table,
    caption,
    tbody,
    tfoot,
    thead,
    tr,
    th,
    td,
    article,
    aside,
    canvas,
    details,
    embed,
    figure,
    figcaption,
    footer,
    header,
    hgroup,
    menu,
    nav,
    output,
    ruby,
    section,
    summary,
    time,
    mark,
    audio,
    video {
        margin: 0;
        padding: 0;
        border: 0;
        font-size: 100%;
        font: inherit;
        vertical-align: baseline;
    }
    /* HTML5 display-role reset for older browsers */

    article,
    aside,
    details,
    figcaption,
    figure,
    footer,
    header,
    hgroup,
    menu,
    nav,
    section {
        display: block;
    }

    body {
        line-height: 1.2;
    }

    ol,
    ul {
        list-style: none;
    }

    blockquote,
    q {
        quotes: none;
    }

    blockquote:before,
    blockquote:after,
    q:before,
    q:after {
        content: '';
        content: none;
    }

    table {
        border-collapse: collapse;
        border-spacing: 0;
    }

    .normal-link {
        text-decoration: underline;
    }

    .normal-link:hover {
        color: rgba(0, 0, 0, .7);
        text-decoration-color: rgba(0, 0, 0, .4);
    }
    /*my stuff  */

    .center {
        text-align: center;
    }

    h1 {
        text-transform: uppercase
    }

    body {
        overflow-x: hidden;
    }

    .about-container {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        flex: 1;
    }

    .about-header {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        /* background: rgba(0, 0, 0, 0.05);
        border-bottom: 2px solid rgba(0, 0, 0, 0.06); */
        width: 100%;
        min-height: 10vh;
    }

    .about-text li {
        text-align: center;
    }

    .about-text {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        text-align: left;
        line-height: 1.4rem;
        flex: 2;
        padding: 2rem;
        background: rgba(0, 0, 0, 0.05);
    }

    .activeSetting.setting-option {
        background: grey;
    }

    .settings-container>*,
    .settings-container>*>* {
        display: flex;
        flex: 1;
        justify-content: center;
        align-items: center;
    }

    .setting {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: stretch;
        flex: 1;
        height: 100%;
    }

    .setting>* {
        display: flex;
        justify-content: center;
        align-items: center;
        flex: 1;
    }

    .setting>*>* {
        /* display: flex;
    flex-direction: row;
    flex: 1;
    border: 1px solid purple; */
    }

    .setting-option {
        background-color: rgba(255, 255, 255, 0.4);
        /* border-left: 1px solid rgba(48, 45, 45, 0.3); */
        border-top: 1px solid rgba(48, 45, 45, 0.3);
        border-right: 1px solid rgba(48, 45, 45, 0.3);
    }

    .setting-description {
        min-width: 40%;
        background: rgba(48, 45, 45, 0.3);
        border-top: 1px solid grey;
    }

    html {
        box-sizing: border-box;
    }

    a {
        text-decoration: none;
        color: inherit;
    }

    .overlay-dormant {
        /* transition: filter .3s ease, opacity .3s ease; */
    }

    .overlay-active {
        /* opacity: 1; */
        /* filter: blur(2px) brightness(60%); */
        /* transition: filter .3s ease, opacity .3s ease; */
    }

    .menu-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        overflow: none;
    }

    .hamburger-menu-container {
        font-size: 2rem;
        display: flex;
        max-width: 15%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        margin: 0 auto;
    }

    .hamburger-menu-icon {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
    }

    .settings-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: stretch;
        flex: 1;
        width: 100%;
        margin: 0 auto;
    }

    .main-island {
        margin: 0 auto;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        flex: 1;
        width: 100%;
        background: rgba(48, 45, 45, 0.15);
        /* border: 1px solid rgba(48, 45, 45, 0.8); */
    }

    .container {
        margin: 0 auto;
        text-align: center;
        display: flex;
        flex: 1;
        flex-direction: column;
        justify-content: center;
        align-items: stretch;
        min-width: 80%;
        min-height: 100vh;
        background: rgba(48, 45, 45, 0.15);
    }

    #site-canvas {
        width: 100%;
        height: 100%;
        position: relative;
    }

    #site-wrapper {
        position: relative;
        width: 100%;
        height: 100%;
        overflow-x: hidden;
    }

    #site-menu {
        line-height: 1;
        position: fixed;
        height: 100%;
        width: 100%;
        left: -100%;
        top: 0;
        z-index: 10;
        /* background: #91989F; */
        background: rgba(40, 40, 40, 1);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-size: 1.5rem;
        overflow: none;
        /* overflow-y: none; */
    }

    #site-menu>* {
        text-transform: uppercase;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        /* border-top: 1px solid rgba(48, 45, 45, 0.8);
    border-bottom: 1px solid rgba(48, 45, 45, 0.8); */
        border-top: 1px solid rgba(200, 200, 200, 0.2);
        border-bottom: 1px solid rgba(200, 200, 200, 0.2);
        color: rgba(200, 200, 200, 0.9);
    }

    .site-menu-option:not(.site-menu-status):hover {
        background: rgba(91, 98, 99, .2);
        color: rgba(10, 10, 10, 1);
        font-size: 1.7rem;
        transition: .1s linear all;
    }

    .site-menu-option.site-menu-status:hover {
        background: rgba(91, 98, 99, .2);
        color: rgba(10, 10, 10, 1);
        transition: .1s linear all;
    }

    #site-menu>*>* {
        height: 100%;
        align-items: center;
        justify-content: space-around;
        /* line-height: 5rem; */
        width: 100%;
        display: flex;
        overflow: none;
        vertical-align: middle;
        flex-direction: column;
    }

    .site-menu-option>* {
        padding: 1rem;
    }

    #site-menu.show-nav {
        transform: translateX(100%);
        transition: .3s ease all;
    }

    #site-menu.hide-nav {
        transform: translateX(0);
        transition: .3s ease all;
    }

    li {
        list-style-type: none;
    }

    .header {
        display: flex;
        width: 100%;
        height: 10vh;
    }

    .progressbar-container {
        background: rgba(48, 45, 45, 0.8);
        width: 100%;
        height: 100%;
        display: flex;
    }

    .progressbar-progress {
        background: #91989F;
        height: 100%;
    }

    .progressbar-text {
        font-size: 1.4rem;
        align-self: center;
        width: 100%;
    }

    .question-container {
        width: 100%;
        display: flex;
        flex: 1;
        flex-direction: column;
        align-items: stretch;
        justify-content: space-between;
    }

    .question-container>* {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .question-container>*>* {
        border: 1px solid rgba(48, 45, 45, 0.3);
    }

    .question {
        /* padding-top: 1rem;
        padding-bottom: 1rem; */
        padding-left: 2rem;
        padding-right: 2rem;
        min-height: 20vh;
    }

    .choices {
        background: rgba(48, 45, 45, 0.2);
        display: flex;
        flex: 1;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: stretch;
        min-height: 50vh;
    }

    .already-guessed {
        background: rgba(48, 45, 45, 0.2);
        text-decoration: line-through;
    }

    .status {
        align-items: center;
        min-height: 10vh;
        display: flex;
    }

    .answer {
        border: none;
        padding: 5px;
    }

    .message {
        border: none;
        /* transition: .1s linear all; */
    }

    .choices>*:hover {
        background: rgba(white, 0.1);
    }

    .setting-option:not(.activeSetting):hover {
        background: rgba(255, 255, 255, 0.2);
    }

    .setting-option:hover {
        /* transform: translateZ(20%); */
        /* color: rgba(black, 1); */
        /* font-size: 1.2rem; */
        /* transition: .1s linear all; */
    }

    div[class*="option-"] {
        display: flex;
        flex: 1;
        flex-direction: column;
        justify-content: space-around;
    }

    div[class*="choice-"] {
        display: flex;
        flex: 1;
        padding: 5px;
        flex-direction: column;
        justify-content: space-around;
    }

    div[class*="choice-"]:hover {
        background: rgba(255, 255, 255, 0.1);
    }

     :root {
        font-size: 16px;
    }

    @media screen and (min-width: 600px) and (max-width: 1800px) {
         :root {
            font-size: calc( 16px + (30 - 16) * ( (100vw - 600px) / (1800 - 600)));
        }
    }

    @media screen and (min-width: 1800px) {
         :root {
            font-size: 30px;
        }
    }

    @media screen and (min-width: 1024px) {
        .question-container,
        .settings-container,
        .about-container {
            max-width: 80%;
            padding: 1rem;
        }
        .settings-container,
        .about-container {
            padding-bottom: 10vh;
        }
        #site-menu {
            position: fixed;
            height: 100%;
            width: 30%;
            left: -30%;
            top: 0;
            border: none;
        }
        #site-menu>*>* {
            /* border: 1px solid red; */
            overflow: none;
            border: none;
        }
        .about-text {
            flex: 1;
        }
        .hamburger-menu-container {
            max-width: 10%;
        }
        .overlay-dormant {
            transition: filter .3s ease, opacity .3s ease;
        }
        .overlay-active {
            opacity: 1;
            /* filter: blur(1px); */
            transition: filter .3s ease, opacity .3s ease;
        }
    }