 html {
   background: #018DED url(https://images.unsplash.com/photo-1477161086833-de122152ba86?dpr=1.25&auto=format&fit=crop&w=1199&h=799&q=80&cs=tinysrgb&crop=);
   background-size: cover;
   text-align: center;
   font-size: 10px;
 }
 
 body {
   font-size: 2rem;
   display: flex;
   flex: 1;
   min-height: 100vh;
   align-items: center;
 }
 
 .clock {
   width: 30vw;
   height: 30vw;
   border: 20px solid #DD9402;
   border-radius: 50%;
   margin: 50px auto;
   position: relative;
   padding: 2rem;
   box-shadow: 0 0 0 4px rgba(0, 0, 0, 0.1), inset 0 0 0 3px #6C3A00, //   inset 0 0 10px white,
   0 0 10px rgba(0, 0, 0, 0.2);
 }
 
 .clock-face {
   position: relative;
   width: 100%;
   height: 100%;
   transform: translateY(-3px);
 }
 
 .hand {
   width: 50%;
   height: 6px;
   background: #DBA65F;
   position: absolute;
   top: 50%;
   transform-origin: 100%;
   transform: rotate(90deg);
   transition: all 0.05s;
   transition-timing-function: cubic-bezier(0.1, 2.7, 0.58, 1);
   border-radius: 30%;
 }
 
 .second-hand {
   height: 4px;
   background: #825200;
 }
 
 .min-hand {
   height: 5px;
   background: #E29000;
 }
 
 .hour-hand {
   height: 6px;
   background: #ffa200;
 }