$board-size: 500px;
$cell-size: $board-size/10;

body {
  background: rgba(grey, .1);
  text-align: center;
}
.page-container {
  display: flex;
  justify-content: space-around;
  align-items:center;
}
.page-header {}

button {
  font-size: 1rem;
  padding: 15px;
  border-radius: 5px;
}
.game-board {
  width: $board-size;
  height: $board-size;
  margin: 0 auto;
}
.line {
  width: $board-size;
  height: $cell-size;
}
.square {
  width: $cell-size;
  height: $cell-size;
  border: 1px solid black;
  float: left;
  background-color: grey;
  display:flex;
  justify-content:center;
  align-items:center;
}

.red {
  color: red;
}
.cleared {
  background-color: rgba(blue, .3);
}
.grey {
  color: rgba(grey, .4);
}
.alert {
  display: none;
}
.messages {
  width: 100%;
  min-height: 5vh;
}
